html,
body,
#app {
    height: 100%;
    margin: 0;
    background-color: #f2f3f5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
